<div class="row" style="margin-left:20px;">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm"  (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
         <button type="button"
         type="submit"
         [disabled]="!recipeForm.valid"
         class="btn btn-success">save</button>
         <button type="button"class="btn btn-danger" (click)="onCancel()">cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
          <label for="name">name</label>
          <input type="text" 
          class="form-control"
          formControlName="name"
          
           id="name">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
          <label for="imagePath">imagePath</label>
          <input type="text"
           class="form-control" 
           formControlName="imagePath"
           id="imagePath"
           #imagePath>
        </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
           <img [src]="imagePath.value" 
           style="max-height: 100px"
           class="img-responsive">
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" 
            class="form-control" 
            rows="3" 
            formControlName = "description"
             id="description"></textarea>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div class="row" 
            *ngFor="let ingredientctrl of recipeForm.get('ingredients').controls ; let i=index"
            [formGroupName]="i"
            style="margin-top:10px;">
              <div class="col-xs-8">
                  <input type="text" 
                  formControlName="name"
                  class="form-control" >
              </div>
              <div class="col-xs-2">
                  <input type="number"
                  formControlName="amount" 
                  class="form-control" >
              </div>
              <div class="col-xs-2">
                  <button type="button"
                  type="button"
                  (click)="onDeleteIngredient(i)"
                  class="btn btn-danger">x</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                  <button type="button" class="btn btn-success " (click)="onAddIngredient()">Add Ingrredients</button>
              </div>
            </div>
          
          </div>
        </div>
    </form>
  </div>
</div>